<nav class="navbar">
    <div class="navbar__content">
        {% if request.user.is_authenticated %}
            <div class="navbar__item">
                <div class="buttons">
                    <a href="" class="button primary-300">Log out</a>
                </div>
                <div class="navbar__links">
                    <ul>
                        <li><a href="" class="nav__link">My dashboard</a></li>
                    </ul>
                </div>
            </div>        
        {% endif %}
        <div class="navbar__item">
            <div class="navbar__logo">
                <a href="#" class="logo">MAGHORA</a>
            </div>
        </div>
        <div class="navbar__item">
            <div class="navbar__links">
                <ul>
                    <li><a href="" class="nav__link">About us</a></li>
                    <li><a href="" class="nav__link">Services</a></li>
                    <li><a href="" class="nav__link">Projects</a></li>
                    <li><a href="" class="nav__link">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>