section.gallery{
    width: 100%;
    height: 100%;
}
section.gallery .gallery_content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}
.gallery_content .upload_form{
    width: 100%;
    max-width: 300px;
    position: sticky;
    top: 0;
    left: 0;
}

.gallery_images {
    width: calc(100% - 300px);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

.gallery_images .image {
    flex: 0 0 180px;
    height: 160px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
}

.gallery_images .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.modal {
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 800px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}